/*
body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%
}
*/

#ias {
	position: fixed;
    top: 0;
    left: 0;
	height: 100%;
	width: 100%;
	z-index: 999;
}

	#ias.hidden {
		display: none;
	}

#ias_topbar {
	background-color: #ff9800;
	height: 64px;
	width: 100%;
}

	#ias_topbar #ias_topbar-pic {
		padding: 8px;
		width: 48px;
		height: 48px;
		float: left;
	}
		#ias_topbar #ias_topbar-pic img {
			height: 100%;
			border-radius: 50%;
		}

	#ias_topbar #ias_topbar-text {
		float: left;
		margin-left: 8px; 
		margin-top: 18px;
		font-size: 24px;
		color: #fff;
	}

	#ias_topbar #ias_topbar-close {
		color: #fff;
		float: right;
		font-size: 24px;
		margin-right: 16px;
		margin-top: 14px;
	}


#ias_messages {
	background: #fff;
	height: calc(100% - 112px);
}

	.ias_message {
	    margin: 4px 8px;
	    padding: 8px 12px;
	}

		.ias_message-sent {
			text-align: right;
		}


#ias_write {
	background-color: #fff;
	/*border-top: 1px solid lightgrey;*/
	height: 48px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

	#ias_write input {
		margin: 0 8px;
	    border: 0;
	    border-bottom: 1px solid #ff9800;
	    width: 85%;
	    width: calc(100% - 104px);
	    padding: 4px 8px 4px 16px;
	    height: 31px;
	}

	#ias_write button {
    	background-color: #fff;
		border: none;
		position: fixed;
		right: 16px;
		bottom: 4px;
		border-radius: 50%;
	    font-size: 24px;
	    height: 42px;
	    margin: auto;
	    min-width: 42px;
	    width: 42px;
	    padding: 0;
	    overflow: hidden;
	    line-height: normal;
	}
		#ias_write button img {
			width: 70%;
			padding: 6px 4px;
		}

#ias-show {
	background-color: #ff9800;
	border-radius: 50%;
	bottom: 16px;
	box-sizing: border-box;
	height: 48px;
	padding: 5px 6px;
	position: fixed;
	right: 16px;
	width: 48px;
}