<div id="iasProvider">
	<div id="iasProvider_unassigned-chat">
		<h3>Unassigned Users:</h3>
		<ul class="iasProvider_users-chat"></ul>
	</div> 

	<div id="iasProvider_assigned-chat">
		<h3>Your Users:</h3>
		<ul class="iasProvider_users-chat"></ul>
	</div>
</div>

<style>
	#iasProvider {
		font-family: "Roboto","Helvetica","Arial",sans-serif!important;
	}

	.iasProvider_users-chat {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.iasProvider_users-chat-unread {
		font-weight: bold;
	}

	.iasProvider_users-chat-message {
		font-weight: lighter;
		font-family: .8em;
	}

	.iasProvider_users-chat li div {
		display: inline-block;
		vertical-align: middle;
	}

	.iasProvider_users-chat li div.iasProvider_users-chat-pic {
		box-sizing: border-box;
		padding: 8px 16px;
		width: 72px;
	}

		.iasProvider_users-chat li div.iasProvider_users-chat-pic img {
			border-radius: 50%;
			height: 40px;
			width: 40px;
		}

	.iasProvider_users-chat li div.iasProvider_users-chat-name {
		font-size: 16px;
	}
</style>
